.advisory-council-page {
   margin-left: -7.2%;
   margin-top: -6%;
}

.co-chair {
   margin-right: auto;
   margin-left: auto;
   border-radius: 50%;
   max-height: 190px;
   aspect-ratio: 1 / 1;
   object-fit: cover;
}

.co-chair-container {
   display: block;
   width: 70vw;
   margin: 0 auto 0 13vw;
   display: inline-flex;
}

.council-content:hover .co-chair, .council-content.hover .co-chair { outline: 3px solid #767CFE;}

.council-content:hover .council-name, .council-container.hover .council-name { color: #767CFE}

.council-content:hover .council-title, .council-container.hover .council-title { color: #767CFE}

.council-content:hover .council-headshot, .council-headshot.hover .council-headshot { outline: 3px solid #767CFE}

.council-description {
   padding-bottom: 30px;
   font-size: 1em;
   width: 50vw;
   text-align: justify;
   text-justify: inter-word;
}

.council-container {
  display: inline-flex;
  width: 65vw;
}

.council-headshot {
   margin-right: auto;
   margin-left: auto;
   border-radius: 50%;
   max-height: 130px;
   aspect-ratio: 1 / 1;
   object-fit: cover;
}

.council-content {
   margin:2% 1% 1% 1%;
   display: inline-block;
   text-align: center;
   width: 20%;
   a {
      text-decoration: none;
   }
   padding:5px;
}

.council-name {
   text-transform: uppercase;
   margin-bottom: 10%;
   color: $color-accent;
   font-size: 1.1em;
   font-weight: 800;
}

.council-title {
   margin-top: 0;
}

.right {
   margin-right:0;
   text-align: right;
   color: $color-accent;
}
