page-contact {

   button.cta {
      border: 0;
      background-color: $color-font-highlight-contrast;
      padding: 0.8em 1em;
      width: 75%;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
   }

   h2 {
      padding-top: .5em;
      font-size: 30px;
      color: #FF5554;
   }

   p {
      display:block;
      font-size: 20px;
      padding: .5em;
   }
}
