//
// This file is injected into all scss files -- global and component. See stencil.config.js
//

$color-background-app: #1c1834;
$color-accent: #ff5554;
$color-highlight: #444bfd;
$color-font-primary: #f5f3f1;
$color-font-accent-contrast: #1c1834;
$color-font-highlight-contrast: #f5f3f1;

$font-primary: "Work Sans", monospace, sans-serif;
$font-heading: "Oswald", monospace, sans-serif;

$max-width: 640px;
