ptp-info-jurisdiction {

   @include form-defaults();

   .option-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 3em;
   }

   .special-info {
      display: block;
      width: 100%;
      color: #1c1834;
      border: 5px double #1C1834;
      border-radius: 10px;
      padding: 20px 20px 10px 5px;
      background-color: #ffffff;
      box-sizing: border-box;
      margin-top: 10px;
      outline: 2px solid #1C1834;
   }

   .special-info h2 {
    color: $color-highlight;
   }

   a.poll-worker-action {
      border: 2px solid;
      padding: 0.5em 1em;
      margin: 2rem 0;
      font-size: 1.2em;
      letter-spacing: 0.05rem;
      display: block;
      text-align: center;

      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
         opacity: 0.8;
      }
      &:focus {
         opacity: 0.6;
      }
      &:active {
         opacity: 0.4;
      }
      &.cta {
         border: 0;
         background-color: $color-highlight;
         color: $color-font-highlight-contrast;
      }
   }
}
