page-about {
  .inspire {
    padding: 0 2.25rem;
    border: solid 4px #ff5554;
    background-color: rgba(245, 243, 241, 0.3);

    h3 {
    padding: 0;
    margin-top: 10px;
    }

    p {
      padding: 0;
    }

    b {
    font-size: 1em;
     color: #ff5554;
    }
  }

  p {
      padding: 0 2.25rem;
  }
}