page-jurisdiction {
   // this is also used in page-form.scss so if you change one, change the other
   a.poll-worker-action {
      font-family: $font-heading;
      border: 0;
      border-radius: 4px;
      background-color: $color-font-primary;
      color: black;
      &.cta {
         background-color: $color-highlight;
         color: $color-font-primary;
      }
   }

   .poll-worker-details-section {
     width: 37.5rem;
     height: 69.75rem;
     margin: 1.5rem 0 1.5rem 3.125rem;
     padding: 3rem 2.25rem;
     border: solid 4px #FF5554;
     background-color: #F5F3F1;
   }
}
