page-election-officials {

   .back-button {
      border: 0;
      width: 95%;
      background-color: $color-highlight;
      padding: 0.8em 1em;
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;

      a {
      text-decoration: none;
      }

      a:hover {
      color: $color-background-app;
      }
   }

}
