page-impact {
   img {
      background-color: #FFFFFF;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: .8em;
      width: 60%;
      }

   .adjascent-graphs {
      img {
         background-color: #FFFFFF;
         display: block;
         margin-left: .2em;
         padding: .8em;
         float: left;
         width: 48%;
      }
   }
}
